/* ================================= dropdown styling ========================================== */
.dropbtn {
    background-color: #222222;
    padding: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;;
    color: #9d9d9d;
    border: none;
}

.dropbtn::first-letter {
    color: red;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    word-wrap: break-word;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #222222;
}
/* =================================Event display styling========================================== */


table{
    align-self:center;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    font-family: 'Montserrat', sans-serif;
    position: fixed !important;
    top: 0;
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    .row.content {height:auto;}
}

.eventbox {
    display: inline-block;
    background-color: white;
    border: 3px solid black;
    padding: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .eventbox::first-line {
    font-style: bold;
    font-size: 20px;
  }

/* # ========================CSS for Forms==================================================*/
  .form {
    width: 20%;
    margin: auto;
    margin-bottom:10px;
    display: flex;
    justify-content: center;
  }
  .error {
    color: red;
  }
