{% extends "layout.html" %}
{% block body %}
<h1>Session Creation</h1>
<form method="post" action="{{ url_for('create_session',seminarId=seminarId) }}">
    <div class="form">
            <table class="login-table">
                <tr>
                    <td>{{ form.name.label }}:</td>
                    <td>{{ form.name }}</td>
                    {% if form.name.errors %}
                    <td class="errors">{% for error in form.name.errors %} {{error}} {% endfor %}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ form.description.label }}:</td>
                    <td>{{ form.description }}</td>
                    {% if form.description.errors %}
                    <td class="errors">{% for error in form.description.errors %} {{error}} {% endfor %}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td style="white-space: nowrap">{{ form.convener.label }}:</td>
                    <td>{{ form.convener }}</td>
                    {% if form.convener.errors %}
                    <td class="errors">{% for error in form.convener.errors %} {{error}} {% endfor %}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td style="white-space: nowrap">{{ form.startDateTime.label }}:</td>
                    <td>{{ form.startDateTime(placeholder='yyyy-mm-dd HH:MM') }} </td>
                    {% if form.startDateTime.errors %}
                        <td style="white-space: nowrap"  class="errors">{% for error in form.startDateTime.errors %} {{error}} {% endfor %}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ form.endDateTime.label }}:</td>
                    <td>{{ form.endDateTime(placeholder='yyyy-mm-dd HH:MM') }} </td>
                    {% if form.endDateTime.errors %}
                        <td style="white-space: nowrap" class="errors">{% for error in form.endDateTime.errors %}{{ error }}{% endfor %}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ form.csrf_token }}</td>
                    <td> <div style="margin-top: 10px">{{ form.submit }} </div> </td>
                </tr>   
            </table>
        </div>
</form>

{% endblock %}