{% extends "layout.html" %}
{% block body %}
<h1>Session Creation</h1>
<form method="post" action="{{ url_for('create_session',seminarName=seminarName) }}">
    <div class="login-div" style="width: 20%; margin: auto; margin-bottom:10px">
            <table class="login-table">
                <tr>
                    <td>{{ form.name.label }}:</td>
                    <td>{{ form.name }}</td>
                </tr>
                <tr>
                    <td>{{ form.description.label }}:</td>
                    <td>{{ form.description }}</td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">{{ form.convener.label }}:</td>
                    <td>{{ form.convener }}</td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">{{ form.startDateTime.label }}:</td>
                    <td>{{ form.startDateTime(placeholder='yyyy-mm-dd HH:MM') }} </td>
                </tr>
                <tr>
                    <td>{{ form.endDateTime.label }}:</td>
                    <td>{{ form.endDateTime(placeholder='yyyy-mm-dd HH:MM') }} </td>
                </tr>
                <tr>
                    <td>{{ form.csrf_token }}</td>
                    <td> <div style="margin-top: 10px">{{ form.submit }} </div> </td>
                </tr>   
            </table>
        </div>
</form>

{% endblock %}