{% extends "layout.html" %}
{% block body %}
<h1>Dashboard</h1>
<h2> Registered Open Events </h2>
{% for currEvent in current_user.getCurrEvents() %}
    <a href="{{ url_for('moreInfo',eventType=currEvent.getClassName(),eventName=currEvent.getName()) }}">{{currEvent.getName()}}</a><br/>
{% endfor %}
<h2> Registered Past Events </h2>
    {% for pastEvent in current_user.getPastEvents() %}
        <a href="{{ url_for('moreInfo',eventType=pastEvent.getClassName(),eventName=pastEvent.getName()) }}">{{pastEvent.getName()}}</a> <br/>
    {% endfor %}
{%if userType == 'Staff'%}
  <h2> Posted Open Events </h2>
  {% for postedCurrEvent in current_user.getPostedCurrEvents() %}
      <a href="{{ url_for('moreInfo',eventType=postedCurrEvent.getClassName(),eventName=postedCurrEvent.getName()) }}">{{postedCurrEvent.getName()}}</a><br/>
  {% endfor %}
  <h2> Posted Past Events </h2>
    {% for postedPastEvent in current_user.getPostedPastEvents() %}
        <a href="{{ url_for('moreInfo',eventType=postedPastEvent.getClassName(),eventName=postedPastEvent.getName()) }}">{{postedPastEvent.getName()}}</a><br/>
    {% endfor %}
  <h2> Cancelled Events </h2>
    {% for cancelledEvent in current_user.getCancelledEvents() %}
        <a href="{{ url_for('moreInfo',eventType=cancelledEvent.getClassName(),eventName=cancelledEvent.getName()) }}">{{cancelledEvent.getName()}}</a><br/>
    {% endfor %}
{% endif %}
{% endblock %}