{% extends "layout.html" %}
{% block body %}
<h1>Home</h1>

<div class="row" style="display: flex">
<div class="column" style="flex:50%">
<h2>Seminars</h2>
    {% for seminar in seminars %}
        <a href="{{ url_for('moreInfo',eventType='Seminar',eventName=seminar.getName()) }}">{{seminar.getName()}}</a><br/>
    {% endfor %}
</div>
<div class="column" style="flex:50%">
<h2> Courses </h2>

    {% for course in courses %}
        <a href="{{ url_for('moreInfo',eventType='Course',eventName=course.getName()) }}">{{course.getName()}}</a><br/>
    {% endfor %}

</div>
</div>
{% endblock %}