{% extends "layout.html" %}
{% block body %}
<h1>Home</h1>

<div class="row" style="display: flex">
    <div class="column" style="flex:50%">
    <h2>Seminars</h2>
        <div class="flex">
            {% for seminar in seminars %}
            <div class="eventbox">
                <h2>
                    <a href="{{ url_for('moreInfo',eventType='Course',eventId=seminar.getId()) }}">{{seminar.getName()}}<br></a>
                </h2>
                Venue: {{seminar.getVenueName()}}<br>
                Start: {{seminar.getStartDateTime()}}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="column" style="flex:50%">
    <h2> Courses </h2>
        <div class="flex">
            {% for course in courses %}
            <div class="eventbox">
                <h2>
                    <a href="{{ url_for('moreInfo',eventType='Course',eventId=course.getId()) }}">{{course.getName()}}<br></a>
                </h2>
                Venue: {{course.getVenueName()}}<br>
                Start: {{course.getStartDateTime()}}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}