<!doctype html>
<html>
<head>
  <title>Event Management System</title>
  <link rel="stylesheet" type=text/css href="style.css">
</head>
  <body>
    <h1>Event Management System</h1>
    {% if current_user.is_authenticated %}
      {% if current_user.getNotifications()|length > 0 %}
        <div class="dropdown" style="float:left;">
          <button class="dropbtn">You have notifications</button>
          <div class="dropdown-content" style="left:0;">
            {% for message in current_user.getNotifications() %}
            <a>{{ message }}</a>
            {% endfor %}
          </div>
        </div><br>
      {% endif %}
    {% endif %}
    {% block body %}{% endblock %}
    <div class=metanav>
      {% if not current_user.is_authenticated %}
        <a href="{{ url_for('index') }}">log in</a>
      {% else %}
        <a href="{{url_for('home')}}"> home </a>
        <a href="{{url_for('dashboard')}}"> dashboard </a> <br/>
        <a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
    </div>
  </body>
</html>