{% extends "layout.html" %}
{% block body %}
  <h2>Login</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <div class="test">Test </div>
    <form method="post" action="/">
        <div class="login-div" style="width: 20%; margin: auto; margin-bottom:10px">
        <table class="login-table">
            <tr>
                <td>zid:</td>
                <td><input name="zid"></td>
            </tr>
            <tr>
                <td>password:</td>
                <td><input name="password"></td>
            </tr>
        </table>
        </div>
        <input type="submit" value="Login" >
    </form>
    {{message}}



{% endblock %}