{% extends "layout.html" %}
{% block body %}

<h1>{{event.getName()}}</h1>
<h2> Start: </h2>
{{event.getStartDateTime()}}
<h2> End: </h2>
{{event.getEndDateTime()}}
<h2> End of Deregistration: </h2>
{{event.getDeregEnd()}}
<h2> End of Early Bird prices: </h2>
{{event.getEarlyBirdEnd()}}
<h2> Description </h2>
    <textarea rows="4" cols="50" readonly>
        {{event.getDescription()}}
    </textarea>
<h2> Presenter </h2>
{{event.getConvenerName()}}
<h2> Venue </h2>
{{event.getVenueName()}}
<h2> Capacity </h2>
{{event.getNumAttendees()}} / {{event.getCapacity()}}
<h2> Status </h2>
{% if event.isOpen() %}
    Open
    {% if event.getClassName() != "Session" %}
        <h2> Registration Fee </h2>
        ${{fee}}
   {% endif %}
{% elif event.isCancelled() %}
    Cancelled
{% else %}
    Closed
{% endif %}

{% if not event.isCancelled() %}
    {% if event.isFull() %}
    {% else %}
        {% if isOwner == false and isPresenter == false and current_user.isRegistered(event.getId()) == false and event.getClassName() != "Seminar" %}
        <form method="post" action="{{ url_for('register_user',eventId=event.getId()) }}">
            <p><input type="submit" value="Register" ></p>
        </form>
        {% endif %}
        {% if current_user.isRegistered(event.getId()) == true %}
        <form method="post" action="{{ url_for('deregister_user',eventId=event.getId()) }}">
            <p><input type="submit" value="Deregister" ></p>
        </form>
        {% endif %}
    {% endif %}
    <div class="error">{{regErrorMsg}}</div>
    {% if isOwner == true %}
        {% if event.getClassName() != "Session" %}
            <form method="post" action="{{ url_for('edit_event',eventType=event.getClassName(),eventId=event.getId()) }}">
                <p><input type="submit" value="Edit {{event.getClassName()}}" ></p>
            </form>
        {% else %}
            <form method="post" action="{{ url_for('edit_session',eventType=event.getClassName(),eventId=event.getId()) }}">
                <p><input type="submit" value="Edit Session" ></p>
            </form>
        {% endif %}
        <form method="post" action="{{ url_for('cancel_event',eventType=event.getClassName(),eventId=event.getId()) }}">
            <p><input type="submit" value="Cancel {{event.getClassName()}}" ></p>
        </form>
    {% endif %}
    {% if event.getClassName() == 'Seminar' %}
        {% if isOwner == true %}
        <a href="{{ url_for('create_session',seminarId=event.getId()) }}" > Create sessions </a>
        {% endif %}
        <h2> Current Sessions </h2>
        <div class="flex">
            {% for session in event.getSessions() %}
            <div class="eventbox">
                {% if not session.getIsPending() %}
                    <h2>
                        <a href="{{ url_for('moreInfo',eventType=session.getClassName(),eventId=session.getId()) }}">{{session.getName()}}</a><br/>
                    </h2>
                    Presenter: {{session.getPresenterName()}}<br>
                    Start: {{session.getStartDateTime()}}<br>
                    {% if isOwner == false and isPresenter == false and current_user.isRegistered(session.getId()) == false %}
                    <form method="post" action="{{ url_for('register_user',eventId=session.getId()) }}">
                        <input type="submit" value="Register">
                    </form>
                    {% endif %}
                    {% if current_user.isRegistered(session.getId()) == true %}
                    <form method="post" action="{{ url_for('deregister_user',eventId=session.getId()) }}">
                        <input type="submit" value="Deregister">
                    </form>
                    {% endif %}
                {% else %}
                    <h2>
                        {{session.getName()}}<br>
                    </h2>
                    <i>Pending</i> 
                {% endif %}
            </div>
            {% endfor %}
        </div>
    {% endif %}

{% endif %}
{% endblock %}