{% extends "layout.html" %}
{% block body %}
{% if isOwner %}
    {% if eventType == 'Seminar' %}
        <a href="{{ url_for('create_session',seminarName=event.getName()) }}" > Create sessions </a>
        <h2> Current Sessions </h2>
        {% for session in event.getSessions()%}
            <li> {{session.getName()}} </li>
        {% endfor %}
    {% endif %}
{% endif %}
<h1>{{event.getName()}}</h1>
<h2> Start: </h2>
{{event.getStartDateTime()}}
<h2> End: </h2>
{{event.getEndDateTime()}}
<h2> Description </h2>
    {{event.getDescription()}}
<h2> Presenter </h2>
{{event.getConvener()}}
<h2> Venue </h2>
{{event.getVenueName()}}
<h2> Capacity </h2>
{{event.getNumAttendees()}} / {{event.getCapacity()}}
<h2> Status </h2>
{% if event.isOpen() %}
    Open
{% else %}
    Closed
{% endif %}
{% if isOwner == false and current_user.isRegistered(event.getName()) == false %}
<form method="post" action="{{ url_for('register_user',eventName=event.getName()) }}">
    <p><input type="submit" value="Register" ></p>
</form>
{% endif %}
{% if current_user.isRegistered(event.getName()) == true %}
<form method="post" action="{{ url_for('deregister_user',eventName=event.getName()) }}">
    <p><input type="submit" value="Deregister" ></p>
</form>
{% endif %}
{% if isOwner == true %}
<form method="post" action="{{ url_for('edit_event',eventName=event.getName()) }}">
    <p><input type="submit" value="Edit Event" ></p>
</form>
<form method="post" action="{{ url_for('cancel_event',eventName=event.getName()) }}">
    <p><input type="submit" value="Cancel Event" ></p>
</form>
{% endif %}
{% endblock %}