{% extends "layout.html" %}
{% block body %}
<h1>Venues</h1>

{% if venues %}
    <div class="flex">
        {% for venue in venues %}
        <div class="eventbox">
        {{venue.getName()}} </br>
        Location: {{venue.getLocation()}} </br>
        Capacity: {{venue.getMaxCapacity()}}</br>
        {% if userType == 'Staff' %}
            {% if venue.getPeriods() %}
                {% for period in venue.getPeriods() %}
                    {{period.getId()}}
                {% endfor %}
            {% else %}
                <form method="post" action="{{ url_for('delete_venue',venueId=venue.getId()) }}">
                    <p><input type="submit" value="Remove Venue"></p>
                </form>
            {% endif %}
        {% endif %}
        </div>
        {%endfor%}
    </div><br>
{% else %}
<h1> No current venues yet, staff must add one! </h1>
{% endif %}

{% if userType == 'Staff' %}
<a href="{{ url_for('create_venue') }}">Add a venue</a>
{% endif %}
{% endblock %}